@font-face {
    font-family: "Trebuchet MS";
    src: url(Trebuchet_MS.ttf);
}

body {
    background-color: #000000;
    font-family: "Trebuchet MS";
    color: #ffffff;
}

.title {
    font-size: 20px;
    text-align: center;
}

.intro{
    text-align: center;
    font-size: 18px;
}

.input {
    height: 35px;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 18px;
    width: 80%;
    border: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
}

.submit {
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 18px 40px;
}

#chatbotForm {

}

.chatdiv {
    padding-top: 40vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border: 2px solid #ffffff;
    background-color: #000000;
    text-align: center;
    padding-bottom: 10vh;
    margin-bottom: auto;
}

.output {
    text-align: center;
}

.chatbot {
    padding-top: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
    background-color: #303030;
}
.form {
    text-align: center;
}
